<!--The content below is only a placeholder and can be replaced.-->
<fieldset>
    <legend>为空里不报错，不显示</legend>
    <div style="text-align:center">
        <h1>
            {{title}}!{{myHero?.name | uppercase}}<span [hidden]="isUnchanged">changed</span>
        </h1>
    </div>
</fieldset>
<fieldset>
    <legend>ngFor/trackBy减少DOM更新次数/Input/Output</legend>
    <ul>
        <li *ngFor="let hero of heroes;trackBy:trackByHeroes">{{hero.id}} {{hero.name}}</li>
    </ul>
    <ul>
        <li *ngFor="let hero of heroes;let i=index">{{i}} {{hero.name}}</li>
    </ul>
    <p>component传递：</p>
    <app-hero-detail *ngFor="let hero of heroes" [hero]="hero" [master]="master"></app-hero-detail>
    <div (myClick)="clickMessage=$event" clickable>click with myClick</div>
</fieldset>
<fieldset>
    <legend>ngSwitch</legend>
    <div [ngSwitch]="currentHero.emotion">
        <div *ngSwitchCase="'happy'">happy</div>
        <div *ngSwitchCase="'sad'">sad</div>
        <div *ngSwitchCase="'confused'">confused</div>
        <div *ngSwitchDefault>default</div>
    </div>
</fieldset>
<fieldset>
    <legend>ngIf</legend>
    <p *ngIf="heroes.length > 3">many heroes{{1+1+ getVal()}}</p>
</fieldset>


<button [disabled]="isUnchanged">Cancel is disabled</button>

<fieldset>
    <legend>ngClass/attr</legend>
    <div [ngClass]="classes1">[ngClass] binding to the classes property</div>
    <div [class.special]="isSpecial" [class.specia2]="isSpecial">The class binding is special</div>

    <tr>
        <td [attr.colspan]="1 + 1">Three-Four</td>
    </tr>
</fieldset>
<div (1myClick)="clickMessage=$event" clickable>click with myClick</div>
<fieldset>
    <legend>双向绑定</legend>
    <input [value]="myHero.name" (input)="myHero.name=$event.target.value">
    <input [(ngModel)]="myHero.name" type="text">
    <input [ngModel]="myHero.name" (ngModelChange)="setUppercaseName($event)">
</fieldset>

<fieldset>
    <legend>模板引用变量/#heroForm/可以用ref-前缀代替#</legend>
    <input #phone placeholder="phone number">
    <button (click)="callPhone(phone.value)">Call</button>

    <form (ngSubmit)="onSubmit(heroForm)" #heroForm="ngForm">
        <div class="form-group">
            <label for="name">Name
                <input class="form-control" name="name" required [(ngModel)]="myHero.name">
              </label>
        </div>
        <button type="submit" [disabled]="!heroForm.form.valid">Submit</button>
    </form>
    <div [hidden]="!heroForm.form.valid">
        {{submitMessage}}
    </div>
</fieldset>

<fieldset>
    <legend>组件传递</legend>
    <button (click)="newMinor()">New minor version</button>
    <button (click)="newMajor()">New major version</button>
    <app-version-child [major]="major" [minor]="minor"></app-version-child>
    <hr>
    <h2>Output</h2>
    <h3>Agree: {{agreed}}, Disagree: {{disagreed}}</h3>
    <app-voter *ngFor="let voter of voters" [name]="voter" (onVoted)="onVoted1($event)">
    </app-voter>
    <hr>
    <h3>本地变量互动</h3>
    <h6>如果父组件的类需要读取子组件的属性值或调用子组件的方法，就不能使用本地变量方法</h6>
    <button (click)="timer.start()">Start</button>
    <button (click)="timer.stop()">Stop</button>
    <div class="seconds">{{timer.seconds}}</div>
    <app-countdown #timer></app-countdown>
    <hr>
    <button (click)="start()">Start</button>
    <button (click)="stop()">Stop</button>
    <div class="seconds">{{ seconds() }}</div>
    <app-countdown></app-countdown>
    <hr>
    <h2>父组件和子组件通过服务来通讯</h2>
    <button (click)="announce()">Announce mission</button>
    <app-astronaut *ngFor="let astronaut of astronauts" [astronaut]="astronaut">
    </app-astronaut>
    <h3>History</h3>
    <ul>
        <li *ngFor="let event of history">{{event}}</li>
    </ul>
</fieldset>

<fieldset>
    <legend>动态组件</legend>
    <div>
        <p>app-ad-banner [ads]="ads"/app-ad-banner</p>
    </div>
</fieldset>

<fieldset>
    <legend>属性型指令</legend>
    <div>
        <input type="radio" name="colors" (click)="color='lightgreen'">Green
        <input type="radio" name="colors" (click)="color='yellow'">Yellow
        <input type="radio" name="colors" (click)="color='cyan'">Cyan
        <p myHighlight>Highlight me!</p>
        <p myHighlight myHighlight="yellow">Highlighted in yellow</p>
        <p myHighlight [myHighlight]="'orange'">Highlighted in orange</p>
        <p myHighlight [myHighlight]="color">Highlighted with parent component's color</p>
        <p [myHighlight]="color">Highlight me!</p>
        <p myHighlight defaultColor="violet">
            Highlight me too!
        </p>
    </div>
</fieldset>
<fieldset>
    <legend>内置结构型指令 —— NgIf、NgFor和NgSwitch/</legend>
    <ol>
        <li>板输入变量和引用变量具有各自独立的命名空间。let hero中的hero和#hero中的hero并不是同一个变量。</li>
        <li>NgIf引用的是指令的类名，而ngIf引用的是指令的属性名</li>
        <li>我们在一个元素上只能放一个结构型指令。</li>
        <li>NgSwitch本身不是结构型指令，而是一个属性型指令</li>
        <li>NgSwitchCase 和 NgSwitchDefault 都是结构型指令</li>
    </ol>
    <div>
        <div *ngIf="myHero">{{myHero.name}}</div>
        <hr>
        <ul>
            <li *ngFor="let hero of heroes">{{hero.name}}</li>
        </ul>
        <hr>
        <div [ngSwitch]="hero?.name">
            <happy-hero *ngSwitchCase="'happy'" [hero]="hero"></happy-hero>
            <sad-hero *ngSwitchCase="'sad'" [hero]="hero"></sad-hero>
            <confused-hero *ngSwitchCase="'confused'" [hero]="hero"></confused-hero>
            <unknown-hero *ngSwitchDefault [hero]="hero"></unknown-hero>
        </div>
        <hr>
        <div *ngFor="let hero of heroes; let i=index; let odd=even; trackBy: trackByHeroes" [class.odd]="odd">
            ({{i}}) {{hero.name}}
        </div>
        <hr>
        <div [ngSwitch]="hero?.name">
            <ng-template [ngSwitchCase]="'happy'">
                <happy-hero [hero]="hero"></happy-hero>
            </ng-template>
            <ng-template [ngSwitchCase]="'sad'">
                <sad-hero [hero]="hero"></sad-hero>
            </ng-template>
            <ng-template [ngSwitchCase]="'confused'">
                <confused-hero [hero]="hero"></confused-hero>
            </ng-template>
            <ng-template ngSwitchDefault>
                <unknown-hero [hero]="hero"></unknown-hero>
            </ng-template>
        </div>
        <hr>
        <p>
            I turned the corner
            <ng-container *ngIf="hero">
                and saw {{hero.name}}. I waved
            </ng-container>
            and continued on my way.
        </p>
        <hr>
        <div>
            Pick your favorite hero (
            <label><input type="checkbox" checked (change)="showSad = !showSad">Tornado</label>)
        </div>
        <select [(ngModel)]="hero">
                <ng-container *ngFor="let h of heroes">
                  <ng-container *ngIf="showSad || h.name !== 'Tornado'">
                    <option [ngValue]="h">{{h.name}} ({{h.id}})</option>
                  </ng-container>
                </ng-container>
        </select>
        <hr>
        <p *myUnless="condition" class="unless a">
            (A) This paragraph is displayed because the condition is false.
        </p>

        <p *myUnless="!condition" class="unless b">
            (B) Although the condition is true, this paragraph is displayed because myUnless is set to false.
        </p>
    </div>
</fieldset>
<fieldset>
    <legend>管道</legend>
    <p>The hero's birthday is {{ birthday | date }}</p>
    <p>The hero's birthday is {{ birthday | date:"MM/dd/yy" }} </p>
    <p>The hero's birthday is {{ birthday | date:format }}</p>
    <button (click)="toggleFormat()">Toggle Format</button>
    <p>The chained hero's birthday is {{ birthday | date | uppercase}}</p>
    <p>The chained hero's birthday is {{ birthday | date:'fullDate' | uppercase}}</p>
    <p>Super power boost: {{2 | exponentialStrength: 10}}</p>
    <div>Normal power: <input [(ngModel)]="power"></div>
    <div>Boost factor: <input [(ngModel)]="factor"></div>
    <p>
        Super Hero Power: {{power | exponentialStrength: factor}}
    </p>
    <hr>
    <input type="text" #box (keyup.enter)="addHero(box.value); box.value='999'" placeholder="Enter添加英雄">
    <button (click)="reset()">Reset</button>
    <div *ngFor="let hero of (heroes2 | flyingHeroes)">
        {{hero.name}}
    </div>

    <hr>
    <ol>
        <li>
            Angular只有在它检测到输入值发生了纯变更时才会执行纯管道。 纯变更是指对原始类型值(String、Number、Boolean、Symbol)的更改， 或者对对象引用(Date、Array、Function、Object)的更改。 Angular会忽略(复合)对象内部的更改。
        </li>
        <li>如果我们更改了输入日期(Date)中的月份、往一个输入数组(Array)中添加新值或者更新了一个输入对象(Object)的属性，Angular都不会调用纯管道。</li>
    </ol>
    <p>
        New hero:
        <input type="text" #box2 (keyup.enter)="addHero(box2.value); box2.value=''" placeholder="hero name">
        <input id="can-fly" type="checkbox" [(ngModel)]="canFly"> can fly
    </p>
    <p>
        <input id="mutate" type="checkbox" [(ngModel)]="mutate">Mutate array
        <button (click)="reset()">Reset</button>
    </p>

    <h4>Heroes2 who fly (piped)</h4>
    <div *ngFor="let hero of (heroes2 | flyingHeroes)">
        {{hero.name}}
    </div>
    <h4>All Heroes (no pipe)</h4>
    <div *ngFor="let hero of heroes2">
        {{hero.name}}
    </div>
    <hr>
    <p>
        New hero:
        <input type="text" #box (keyup.enter)="addHero(box.value); box.value=''" placeholder="hero name">
        <input id="can-fly" type="checkbox" [(ngModel)]="canFly"> can fly
    </p>
    <p>
        <input id="mutate" type="checkbox" [(ngModel)]="mutate">Mutate array
        <button (click)="reset()">Reset</button>
    </p>

    <h4>Heroes who fly (piped)</h4>
    <div id="flyers">
        <div *ngFor="let hero of (heroes2 | flyingHeroesImpure)">
            {{hero.name}}
        </div>
    </div>

    <h4>All Heroes (no pipe)</h4>
    <div id="all">
        <div *ngFor="let hero of heroes2">
            {{hero.name}}
        </div>
    </div>
    <hr>
    <h2>非纯 AsyncPipe</h2>
    <p>Message: {{ message$ | async }}</p>
    <button (click)="resend()">Resend</button>
    <hr>
    <h2>一个非纯而且带缓存的管道</h2>
    <div *ngFor="let hero of ('assets/heroes.json' | fetch) ">
        {{hero.name}}
    </div>
    <p>Heroes as JSON: {{'assets/heroes.json' | fetch | json}}</p>
</fieldset>
<fieldset>
    <legend>动画(跳过！！)</legend>
    <div class="buttons">
        <button [disabled]="!heroes_animate.canAdd()" (click)="heroes_animate.addInactive()">Add inactive hero</button>
        <button [disabled]="!heroes_animate.canAdd()" (click)="heroes_animate.addActive()">Add active hero</button>
        <button [disabled]="!heroes_animate.canRemove()" (click)="heroes_animate.remove()">Remove hero</button>
    </div>
    <div class="columns">
        <div class="column">
            <h4>Basic State</h4>
            <p>Switch between active/inactive on click.</p>

        </div>
    </div>
</fieldset>
<fieldset>
    <legend>获取用户输入</legend>
    <button (click)="onClickMe()">Click me!</button>{{clickMessage}}
    <input (keyup)="onKey($event)">
    <p>event:{{values}}</p>
    <hr>
    <input #box (keyup)="0">
    <p>template:{{box.value}}</p>
    <input #box2 (keyup)="onKey2(box2.value)">
    <p>template:{{values}}</p>
    <input #box3 (keyup.enter)="onEnter(box3.value)">
    <input #box (keyup.enter)="update(box.value)" (blur)="update(box.value)">
    <hr>
</fieldset>
<fieldset>
    <legend>模板驱动的表单/表单验证</legend>
    <div [hidden]="submitted">
        <div class="container">
            {{diagnostic}}
            <form (ngSubmit)="studentSubmit()" #heroForm_t="ngForm">
                <div class="form-group">
                    <label for="name">Name</label>
                    <input type="text" class="form-control" required id="name" name="name" required minlength="4" forbiddenName="bob" [(ngModel)]="model.name" #spy #name="ngModel">

                    <div *ngIf="name.invalid && (name.dirty || name.touched)" class="alert alert-danger">
                        <div *ngIf="name.errors.required">
                            Name is required.
                        </div>
                        <div *ngIf="name.errors.minlength">
                            Name must be at least 4 characters long.
                        </div>
                        <div *ngIf="name.errors.forbiddenName">
                            Name cannot be Bob.没生效!!!
                        </div>
                    </div>
                    <div [hidden]="name.valid || name.pristine" class="alert alert-danger">
                        Name is required
                    </div>
                    <br>TODO: remove this: {{spy.className}}
                </div>

                <div class="form-group">
                    <label for="alterEgo">Alter Ego</label>
                    <input type="text" class="form-control" id="alterEgo" [(ngModel)]="model.alterEgo" name="alterEgo">
                </div>

                <div class="form-group">
                    <label for="power">Hero Power</label>
                    <select class="form-control" id="power" [(ngModel)]="model.power" name="power" required>
                    <option *ngFor="let pow of powers" [value]="pow">{{pow}}</option>
                </select>
                </div>
                <button type="submit" class="btn btn-success" [disabled]="!heroForm_t.form.valid">Submit</button>
                <button type="button" class="btn btn-default" (click)="newStudent()">New Student</button>
                <button type="button" class="btn btn-default" (click)="newStudent(); heroForm_t.reset()">New Student(reset css)</button>
            </form>
        </div>
    </div>
    <hr>
    <div [hidden]="!submitted">
        <h2>You submitted the following:</h2>
        <div class="row">
            <div class="col-xs-3">Name</div>
            <div class="col-xs-9  pull-left">{{ model.name }}</div>
        </div>
        <div class="row">
            <div class="col-xs-3">Alter Ego</div>
            <div class="col-xs-9 pull-left">{{ model.alterEgo }}</div>
        </div>
        <div class="row">
            <div class="col-xs-3">Power</div>
            <div class="col-xs-9 pull-left">{{ model.power }}</div>
        </div>
        <br>
        <button class="btn btn-primary" (click)="submitted=false">Edit</button>
    </div>

</fieldset>
<fieldset>
    <legend>响应式表单的验证/自定义验证器</legend>
    <div class="container">
        <form [formGroup]="heroForm2" #formDir="ngForm">
            <div [hidden]="formDir.submitted">
                <div class="form-group">
                    <label for="name">Name</label>
                    <input id="name" class="form-control" formControlName="name" required>
                    <div *ngIf="name2.invalid && (name.dirty || name2.touched)" class="alert alert-danger">
                        <div *ngIf="name2.errors.required">
                            Name is required.
                        </div>
                        <div *ngIf="name2.errors.minlength">
                            Name must be at least 4 characters long.
                        </div>
                        <div *ngIf="name2.errors.forbiddenName">
                            Name cannot be Bob.
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label for="alterEgo">Alter Ego</label>
                    <input id="alterEgo" class="form-control" formControlName="alterEgo">
                </div>

                <div class="form-group">
                    <label for="power">Hero Power</label>
                    <select id="power" class="form-control" formControlName="power" required>
                      <option *ngFor="let p of powers" [value]="p">{{p}}</option>
                    </select>

                    <div *ngIf="power.invalid && power.touched" class="alert alert-danger">
                        <div *ngIf="power.errors.required">Power is required.</div>
                    </div>
                </div>

                <button type="submit" class="btn btn-default" [disabled]="heroForm.invalid">Submit</button>
                <button type="button" class="btn btn-default" (click)="formDir.resetForm({})">Reset</button>
            </div>
        </form>

        <div class="submitted-message" *ngIf="formDir.submitted">
            <p>You've submitted your hero, {{ heroForm.value.name }}!</p>
            <button (click)="formDir.resetForm({})">Add new hero</button>
        </div>
    </div>
</fieldset>
<fieldset>
    <legend>响应式表单</legend>
    <label class="center-block">Just a FormControl:
      <input class="form-control" [formControl]="reactive_name">
    </label>
    <form [formGroup]="reactive_heroForm" novalidate>
        <div class="form-group">
            <label class="center-block">FormControl in a FormGroup:
                <input class="form-control" formControlName="name">
              </label>
        </div>
    </form>
    <p>Form value: {{ reactive_heroForm.value | json }}</p>
    <p>Form status: {{ reactive_heroForm.status | json }}</p>
    <form [formGroup]="reactive_bulder_heroForm" novalidate>
        <div class="form-group">
            <label class="center-block">FormControl in a FormBuilder:
                    <input class="form-control" formControlName="name">
                  </label>
        </div>
        <div formGroupName="address" class="well well-lg">
            <div class="form-group">
                <label class="center-block">Street:
                  <input class="form-control" formControlName="street">
                </label>
            </div>
            <div class="form-group">
                <label class="center-block">City:
                  <input class="form-control" formControlName="city">
                </label>
            </div>
            <div class="form-group">
                <label class="center-block">State:
                  <select class="form-control" formControlName="state">
                      <option *ngFor="let state of states" [value]="state">{{state}}</option>
                  </select>
                </label>
            </div>
            <div class="form-group">
                <label class="center-block">Zip Code:
                  <input class="form-control" formControlName="zip">
                </label>
            </div>
        </div>
        <div class="form-group radio">
            <h4>Super power:</h4>
            <label class="center-block"><input type="radio" formControlName="power" value="flight">Flight</label>
            <label class="center-block"><input type="radio" formControlName="power" value="x-ray vision">X-ray vision</label>
            <label class="center-block"><input type="radio" formControlName="power" value="strength">Strength</label>
        </div>
        <div class="checkbox">
            <label class="center-block">
                  <input type="checkbox" formControlName="sidekick" name='a'>I have a sidekick.
            </label>
        </div>
    </form>
    <p>Form value: {{ reactive_bulder_heroForm.value | json }}</p>
    <p>Form status: {{ reactive_bulder_heroForm.status | json }}</p>
    <p>Form pristine: {{ reactive_bulder_heroForm.pristine | json }}</p>
    <p>Form untouched: {{ reactive_bulder_heroForm.untouched | json }}</p>
    <p>Street value: {{ reactive_bulder_heroForm.get('address.street').value}}</p>
</fieldset>
<fieldset>
    <legend>响应式表单2</legend>
    <nav>
        <button (click)="getHeroes()" class="btn btn-primary">Refresh</button>
        <a *ngFor="let teacher of teacherss" (click)="select(teacher)">{{teacher.name}}</a>
    </nav>
    <form [formGroup]="reactive_bulder_heroForm2" novalidate>
        <div class="form-group">
            <label class="center-block">FormControl in a FormBuilder:
                        <input class="form-control" formControlName="name">
                      </label>
        </div>
        <div formGroupName="address" class="well well-lg">
            <div class="form-group">
                <label class="center-block">Street:
                      <input class="form-control" formControlName="street">
                    </label>
            </div>
            <div class="form-group">
                <label class="center-block">City:
                      <input class="form-control" formControlName="city">
                    </label>
            </div>
            <div class="form-group">
                <label class="center-block">State:
                      <select class="form-control" formControlName="state">
                          <option *ngFor="let state of states" [value]="state">{{state}}</option>
                      </select>
                    </label>
            </div>
            <div class="form-group">
                <label class="center-block">Zip Code:
                      <input class="form-control" formControlName="zip">
                    </label>
            </div>
        </div>
    </form>
    <p>Form value: {{ reactive_bulder_heroForm2.value | json }}</p>
    <p>Form status: {{ reactive_bulder_heroForm2.status | json }}</p>
    <p>Form pristine: {{ reactive_bulder_heroForm2.pristine | json }}</p>
    <p>Form untouched: {{ reactive_bulder_heroForm2.untouched | json }}</p>
</fieldset>
<fieldset>
    <legend>响应式表单2(onchange/service/array)</legend>
    <nav>
        <button (click)="getTeachers()" class="btn btn-primary">Refresh</button>
        <a *ngFor="let teacher of teachers | async" (click)="select(teacher)">{{teacher.name}}</a>
    </nav>

    <div *ngIf="selectedTeacher">
        <hr>
        <h2>Hero Detail</h2>
        <h3>Editing: {{selectedTeacher.name}}</h3>
        <app-teacher-list [teacher]="selectedTeacher"></app-teacher-list>
    </div>

</fieldset>