<fieldset>
  <legend>生命周期</legend>
  <app-life [name]="title"></app-life>
</fieldset>

<fieldset>
  <legend>OnChange/DoCheck勾子</legend>
  <div class="parent">
    <div>
      问候语：<input type="text" [(ngModel)]="greeting">
    </div>
    <div>
      姓名：<input type="text" [(ngModel)]="user.name">
    </div>
  </div>
  <app-child [greeting]="greeting" [user]="user"></app-child>
</fieldset>

<fieldset>
  <legend>父组件调用子组件方法（View方法）</legend>
<app-childview #childview1></app-childview>
<app-childview #childview2></app-childview>
  <button (click)="childview2.greeting('jerry')">调用childview2的greeting方法</button>
</fieldset>

<fieldset>
  <legend>投影</legend>
  <div class="wrapper">
    <h2>我是父组件</h2>
    <div>这个div定义在父组件中</div>
    <app-content>
      <div class="footer">这是页脚，这个div是父组件投影到子组件的,title是{{title}}</div>
      <div class="header">这是页头，这个div是父组件投影到子组件的</div>
    </app-content>
  </div>
  <div [innerHTML] = 'divContent'></div>
</fieldset>

<a [routerLink]="['/']">/</a>
<a [routerLink]="['/destory']">destory</a>
<router-outlet></router-outlet>

